<div id="pianoRollContainer">

  <div id="controls">
    <img id="toggle" src="../../../assets/images/play-button.svg" (click)="toggleState()" class="icon" />
    <img id="clearGrid" src="../../../assets/images/delete-button.svg" (click)="clearGrid();clearInput();"
      class="icon" />

    <input type="file" name="file" id="file" class="inputfile" accept=".mid" />
    <label id="fileLabel" for="file"><i class="fa fa-upload"></i>&nbsp;<span>Upload MIDI file...</span></label>
  </div>

  <div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="timeline" viewBox="0 0 1024 17"></svg>
  </div>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="grid" viewBox="0 0 1024 408"></svg>
  </div>

  <br>
  <!-- <b>{{ melody.name }}</b> {{ melody.bpm }} BPM<br>
      <small>Melody created by <a href="">{{ melody.author.firstName }} {{ melody.author.name }}</a> on
        {{ melody.dateCreated | date: 'longDate'}}</small><br>
      {{ melody.description }} -->
</div>



<!-- Added Modal -->
<div class="modal fade" id="midiFailedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Incompatible MIDI file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        The MIDI file contains notes which can't be plotted on this pianoroll.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>